@charset "UTF-8";
/*Fuentes tipográficas*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@font-face {
  font-family: 'Product Sans Regular';
  src: url("fonts/product-sans/Product Sans Regular.ttf"); }
.fsize-1 {
  font-size: 36px; }

.fsize-2 {
  font-size: 24px; }

.fsize-3 {
  font-size: 20px; }

.fsize-4 {
  font-size: 16px; }

.fsize-5 {
  font-size: 14px; }

/*Reseteo inicial de estilos*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/*Sistema de grillas*/
.row {
  overflow: auto; }

@media (min-width: 0) {
  .column-xs-1 {
    float: left;
    width: 8.33333%; }

  .column-xs-2 {
    float: left;
    width: 16.66667%; }

  .column-xs-3 {
    float: left;
    width: 25%; }

  .column-xs-4 {
    float: left;
    width: 33.33333%; }

  .column-xs-5 {
    float: left;
    width: 41.66667%; }

  .column-xs-6 {
    float: left;
    width: 50%; }

  .column-xs-7 {
    float: left;
    width: 58.33333%; }

  .column-xs-8 {
    float: left;
    width: 66.66667%; }

  .column-xs-9 {
    float: left;
    width: 75%; }

  .column-xs-10 {
    float: left;
    width: 83.33333%; }

  .column-xs-11 {
    float: left;
    width: 91.66667%; }

  .column-xs-12 {
    float: left;
    width: 100%; } }
@media (min-width: 768px) {
  .column-sm-1 {
    float: left;
    width: 8.33333%; }

  .column-sm-2 {
    float: left;
    width: 16.66667%; }

  .column-sm-3 {
    float: left;
    width: 25%; }

  .column-sm-4 {
    float: left;
    width: 33.33333%; }

  .column-sm-5 {
    float: left;
    width: 41.66667%; }

  .column-sm-6 {
    float: left;
    width: 50%; }

  .column-sm-7 {
    float: left;
    width: 58.33333%; }

  .column-sm-8 {
    float: left;
    width: 66.66667%; }

  .column-sm-9 {
    float: left;
    width: 75%; }

  .column-sm-10 {
    float: left;
    width: 83.33333%; }

  .column-sm-11 {
    float: left;
    width: 91.66667%; }

  .column-sm-12 {
    float: left;
    width: 100%; } }
@media (min-width: 992px) {
  .column-md-1 {
    float: left;
    width: 8.33333%; }

  .column-md-2 {
    float: left;
    width: 16.66667%; }

  .column-md-3 {
    float: left;
    width: 25%; }

  .column-md-4 {
    float: left;
    width: 33.33333%; }

  .column-md-5 {
    float: left;
    width: 41.66667%; }

  .column-md-6 {
    float: left;
    width: 50%; }

  .column-md-7 {
    float: left;
    width: 58.33333%; }

  .column-md-8 {
    float: left;
    width: 66.66667%; }

  .column-md-9 {
    float: left;
    width: 75%; }

  .column-md-10 {
    float: left;
    width: 83.33333%; }

  .column-md-11 {
    float: left;
    width: 91.66667%; }

  .column-md-12 {
    float: left;
    width: 100%; } }
@media (min-width: 1200px) {
  .column-lg-1 {
    float: left;
    width: 8.33333%; }

  .column-lg-2 {
    float: left;
    width: 16.66667%; }

  .column-lg-3 {
    float: left;
    width: 25%; }

  .column-lg-4 {
    float: left;
    width: 33.33333%; }

  .column-lg-5 {
    float: left;
    width: 41.66667%; }

  .column-lg-6 {
    float: left;
    width: 50%; }

  .column-lg-7 {
    float: left;
    width: 58.33333%; }

  .column-lg-8 {
    float: left;
    width: 66.66667%; }

  .column-lg-9 {
    float: left;
    width: 75%; }

  .column-lg-10 {
    float: left;
    width: 83.33333%; }

  .column-lg-11 {
    float: left;
    width: 91.66667%; }

  .column-lg-12 {
    float: left;
    width: 100%; } }
/*Clases reutilizables*/
.element-mb, .logo, .navbar, .featured__image, .featured__header, .featured__subheader, .featured__copy, .featured__tag {
  margin-bottom: 1.5rem; }

.element2-mb, .new__title, .new__image, .new__text {
  margin-bottom: 1rem; }

.current-bold, .menu, .featured__subheader {
  font-weight: 500; }

.section-pt, .header, .featured, .news-feed {
  padding-top: 4rem; }

.text-center, .logo {
  text-align: center; }

/*CONTENEDOR PRINCIPAL*/
.main-container {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  padding: 0 2rem; }

/*CABECERA*/
.navbar {
  height: 50px;
  margin-top: 1.5rem; }

.menu {
  display: flex;
  justify-content: center; }
  .menu__item {
    color: #414549;
    padding: 0 1.5rem 1.5rem;
    text-decoration: none; }
  .menu__item:hover {
    border-bottom: 0.25rem solid #dcdee0; }

.search {
  position: absolute;
  margin-right: 2rem;
  right: 0; }
  .search__button {
    background-image: url(../img/search-icon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0;
    height: 1.5rem;
    outline: 0;
    width: 1.5rem; }

/*DESTACADO*/
.featured {
  color: #424242; }
  .featured__image {
    width: 100%; }
  .featured__header {
    font-weight: normal;
    font-family: "Product Sans Regular"; }
  .featured__copy {
    line-height: 1.5em; }
  .featured__tag {
    color: #5f6368;
    font-family: "Roboto Mono", monospace; }

/*NOTICIAS*/
.news-feed__header {
  border-top: 0.25rem solid #4285f4;
  color: #424242;
  font-family: "Product Sans Regular";
  font-weight: 500;
  padding-top: 2.5rem;
  margin-bottom: 1.5rem; }
.news-feed__column-left {
  padding-right: 2rem; }
.news-feed__column-right {
  padding-left: 2rem;
  padding-right: 2rem; }

.new {
  margin-bottom: 1rem; }
  .new__date {
    color: #5f6368;
    font-family: "Roboto Mono", monospace;
    margin-bottom: 0.5rem; }
  .new__title {
    font-weight: normal; }
  .new__image {
    width: 100%; }
  .new__text {
    color: #414549;
    line-height: 1.5em; }

.newsletter {
  background-color: #f1f3f4;
  line-height: 1.5rem;
  margin: 2.5rem 0 1rem;
  padding: 1.25rem;
  width: calc(100% + 2rem); }
  .newsletter__cta-copy .cta a {
    color: #4285f4;
    text-decoration: none; }
  .newsletter__cta-image {
    text-align: right; }
    .newsletter__cta-image img {
      width: 75%; }

/*# sourceMappingURL=main.css.map */
