@import "partials/_fonts";

@import "partials/_initialReset";

@import "partials/_gridSystem";

//Reutilizables
.text-center {
  text-align: center;
}

.main-container {
  font-family: $main-font;
  padding: 0 2rem;
}

//HEADER
.header {
  padding-top: 4rem;
}

.logo {
  margin-bottom: 1.5rem;
}

//MENU
.navbar {
  height: 50px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.menu {
  display: flex;
  font-size: 0.875rem;
  font-weight: 500;
  justify-content: center;
  &__item {
    color: #414549;
    padding: 0 1.5rem 1.5rem;
    text-decoration: none;
  }
  &__item:hover {
    border-bottom: 0.25rem solid #cccccc;
  }
}

.search {
  position: absolute;
  margin-right: 2rem;
  right: 0;
  &__button {
    background-image: url(../img/search-icon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0;
    height: 1.5rem;
    outline: 0;
    width: 1.5rem;
  }
}

.featured {
  padding-top: 4rem;
  color: #424242;
  &__image {
    margin-bottom: 1.5rem;
    width: 100%;
  }
  &__header {
    font-size: 2.25em;
    font-weight: normal;
    font-family: $special-font;
    margin-bottom: 1.5rem;
  }
  &__subheader {
    font-size: 1.25em;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }
  &__copy {
    line-height: 1.5em;
    margin-bottom: 1.5rem;
  }
  &__tag {
    color: #5f6368;
    font-family: $secondary-font;
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
  }
}

.news-feed {
  padding-top: 4rem;
}
